*{
  margin: 0px;
  box-sizing: border-box;
}
body{
  background-color: white;
  margin: 0px auto;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgreen;
}

ul{
  list-style: none;
  margin-top: 20px;
}
.navtwo{
  display: flex;
}
ul li {
  padding: 5px;
}
.footer{
  position: absolute;
  bottom: 0;
  align-items: center;
}
.title{
display: flex;
justify-content: center;
}